body {
    background: url('../img/main.png');
    background-color: #E8FCFF;

    background-size: 10% auto;
    margin: 0%;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #b3e8e2;
    color: #fff;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
    transition: 1s;
    text-align: center;
}

.PodpisLogo {
  font-size: 2.0rem;
}

.header__item:hover {
    transform: scale(1.2);
}

.form {
    max-width: 320px;
    padding: 15px;
    margin: 20px auto;

  }

  .input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;

    border: 1px solid #ccc;

    font-family: inherit;
    font-size: 16px;
  }

  .btn {
    width: 100%;
    padding: 8px 10px;
    margin-top: 4%;

    border: 0;
    border-top: 10%;
    background-color: #b3e8e2;
    cursor: pointer;

    font-family: inherit;
    font-size: 16px;
    color: black;
  }

  .btn:hover {
    background-color: #5cb9cb;
  }

  .registrButtom{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    padding: 3%;
    display: flex;
  }

    .formreg-left{
        margin: 0 auto;
        width: 95%;
        height: 10%;
        padding: 3%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: column;
    }


    .formreg-center{
      margin: 0 auto;
      width: 30%;
      height: 10%;
      padding: 3%;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      display: flex;
      justify-content: center;
  }


footer{
  margin: 1000px auto 0;
  height: 100px;
  background: #b3e8e2;
  position: relative;
}
.list{
  display: flex;
  justify-content: center;
}

table{
  table-layout: auto;
  width: 100%;
  word-break: break-all;
  }
  
  tbody{
  display: flex;
  }
  
  tr{
  display: flex;
  flex-direction: column;
  
  
  }
  
  td{
  border: 1px solid black;
  height: 150px;
  width: auto;
  }

  th.data{
    text-align: center;
    height: 50px;
        }
  th.name{
    text-align: center;
    height: 50px;
          }
  th.name{
    text-align: center;
    height: 50px;
          }
  th.serial{
    text-align: center;
    height: 50px;
            }
  th.issuer{
    text-align: center;
    height: 50px;
          }
  th.num{
    text-align: center;
    height: 50px;
          }

  caption{
    display: flex;
    justify-content: center;
    font-weight: 700;
  }        
                              
                        
            

  .data{
    text-align: center;
    border: 1px solid black;
    height: 180px;
    width: 200px;
    }

  .name{
    text-align: center;
      border: 1px solid black;
      height: 180px;
      width: 450px;
      }
  .serial{
    text-align: center;
      border: 1px solid black;
      height: 180px;
      width: 250px;
      }
  .issuer{
    text-align: center;
        border: 1px solid black;
        height: 180px;
        width: 500px;
        }
  .num{
    text-align: center;
          border: 1px solid black;
          height: 180px;
          width: 30px;
        }
