{% extends 'documents/base.html' %}
{% load static %}

                {% block menu %}
                <div class="header__item headerButton"><a href="{% url 'logout' %}">Выйти</a></div>
                <div class="header__item headerButton"><a href="{% url 'profile' %}">Личный кабинет</a></div>
                {% endblock %}

{% block table %}
        <!-- <div class="formreg">
            <table>
                <tr>
                  <th>Номер</th>
                  <th>Наименование</th>
                  <th>Дата</th>
                  <th>Отправитель</th>
                  <th>Статус</th>
                </tr>
                {% for doc in inbox_docs %}
                <tr>
                  <td>{{doc.number}}</td>
                  <td>{{doc.name}}</td>
                  <td>{{doc.date}}</td>
                  <td>{{ doc.sender }}</td>
                  <td>{{ prints }}</td>
                </tr>
                {% endfor %}

              </table>
        </div> -->
        <div class="formreg-left">

          <form action="{% url 'table' %}" method = 'post'>
              {% csrf_token %}
              <div class="mb-3">
              <label for="{{ form.name.id_for_lable }}" class="form-label">Название документа</label>
              {{ form.name }}
              </div>
              <div class="mb-3">
              <label for="{{ form.number.id_for_lable }}" class="form-label">Номер документа</label>
              {{ form.number }}
              </div>
              <div class="mb-3">
              <label for="{{ form.date_document.id_for_lable }}" class="form-label">Дата документа</label>
              {{ form.date_document }}
              </div>
              <div class="mb-3">
                  <label for="{{ form.date_send.id_for_lable }}" class="form-label">Дата отправки</label>
                  {{ form.date_send }}
              </div>
              <div class="mb-3">
                <input type='file'>  
                <label for="{{ form.file.id_for_lable }}" class="form-label">Файл отправки</label>
                  {{ form.file }}
              </div>
              <div class="mb-3">
                  <label for="{{ form.status.id_for_lable }}" class="form-label">Статус</label>
                  {{ form.status }}
              </div>
              <div class="mb-3">
                  <label for="{{ form.sender.id_for_lable }}" class="form-label">Отправитель</label>
                  {{ form.sender }}
              </div>
              <button type="submit" class="btn btn-primary">Сохранить изменения</button>
          </form>
      </div>
<!-- 
        <div class="formreg-center">

          <form action="{% url 'table' %}" method = 'post'>
              {% csrf_token %}
              <div class="mb-3">
                <style>
                  .name {
                   padding-left: 50px;
                  }
                 </style>
                <label for="name">Введите наименование документа</label>
                <input type="text" id="name" placeholder="Заявление о предоставлении сведений о трудовом стаже" size="45">
              </div>
              <div class="mb-3">
                <label for="number">Введите номер документа</label>
                <input type="text" id="number" placeholder="Поле необязательно для заполнения" size="45">
              </div>
              <div class="mb-3">
                <label for="date">Введите дату документа</label>
                <input type="date" id="date">
              </div>
              <div class="mb-3">  
                <label for="file" class="form-label">Выберите файл отправки</label>
                <input type='file'>
              </div>
              <button type="submit" class="btn btn-primary">Сохранить изменения и выбрать сертификат для подписания</button>
          </form>
      </div> -->


      



        <form action="/podpis" method="post">
            {% csrf_token %}
            Для поиска сертификатов нажмите <input type="submit" value="Найти сертификаты">
        </form>
        <!-- <input type = 'text'>
    <button id="sendPost">ОТПРАВИТЬ ПОСТ</button>
    <script>
        document.getElementById('sendPost')
    </script> --> 
<!-- 
    <form method="POST">
      {% csrf_token %}
      <button type="submit">Submit</button>
      {{form.my_field11}}
    </form> -->

  
{% endblock %}

<h1> fjjjj</h1>

{% block list %}


<div class="formreg-left">
  <table class="table table-striped">
    <caption>{{ prints0 }}</caption>
    <tbody>
      <tr>
        <th class="num">№</td>
        {% for inf1 in prints1 %}
        <td class="num">{{ inf1 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th class="issuer">Издатель</td>
        {% for inf2 in prints2 %}
        <td class="issuer">{{ inf2 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th class="serial">Серийный номер</td>
        {% for inf3 in prints3 %}
        <td class="serial">{{ inf3 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th class="name">Данные владельца</td>
        {% for inf4 in prints4 %}
        <td class="name">{{ inf4 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th class="data">Действителен с</td>
        {% for inf5 in prints5 %}
        <td class="data">{{ inf5 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th class="data">Действителен по</td>
        {% for inf6 in prints6 %}
        <td class="data">{{ inf6 }}</td>
        {% endfor %}
      </tr>
      </tbody>
  </table>







<!-- <table>
  <tr>
    <th>Информация о сертификате №</th>
    <tr>
    {% for inf1 in prints1 %}
    <td>{{ inf1 }}</td>
    {% endfor %}
  </tr>
    <th>Издатель</th>
    <th>Серийный номер</th>
    <th>Данные владельца</th>
    <th>Действителен с</th>
    <th>Действителен по</th>
  </tr>


  <tr>
    {% for inf in prints %}
  
    <td>{{ prints.number }}</td>
    <td>{{ prints.issuer }}</td>
    <td>{{ prints.serial_number }}</td>
    <td>{{ prints.subject }}</td>
    <td>{{ prints.date_from }}</td>
    <td>{{ prints.date_to }}</td>
  
    {% endfor %}
      </tr> -->
  
      <!-- <div class="tableRow">
            <div class="ab">Информация о сертификате</div>
            <div class="ab">Издатель</div>
            <div class="ab">Серийный номер</div>
            <div class="ab">Данные владельца</div>
            <div class="ab">Действителен с</div>
            <div class="ab">Действителен по</div> -->
        
        <!-- <div class="tableColumn">
        <div class="ab">Информация о сертификате
          {% for inf1 in prints1 %}
            <div class="ab">{{ inf1 }}</div>
          {% endfor %}
        </div>
      </div>

        <div class="tableColumn">
          <div class="ab">Издатель
          {% for inf2 in prints2 %}
            <div class="ab">{{ inf2 }}</div>
          {% endfor %}
        </div>
      </div>

        <div class="tableColumn">
          <div class="ab">Серийный номер
          {% for inf3 in prints3 %}
            <div class="ab">{{ inf3 }}</div>
          {% endfor %}
        </div>
      </div>

        <div class="tableColumn">
          <div class="ab">Данные владельца
          {% for inf4 in prints4 %}
            <div class="ab">{{ inf4 }}</div>
          {% endfor %}
        </div>
      </div>

        <div class="tableColumn">
          <div class="ab">Действителен с
          {% for inf5 in prints5 %}
            <div class="ab">{{ inf5 }}</div>
          {% endfor %}
        </div>
      </div>

        <div class="tableColumn">
          <div class="ab">Действителен по
          {% for inf6 in prints6 %}
            <div class="ab">{{ inf6 }}</div>
          {% endfor %}
        </div>
      </div>
        
    </div> -->


  <!-- <tr>
    {% for inf1 in prints1 %}
    <td>{{ inf1 }}</td>
    {% endfor %}
  </tr>

  <tr>
    {% for inf2 in prints2 %}
    <td>{{ inf2 }}</td>
    {% endfor %}
  </tr>

  <tr>
    {% for inf3 in prints3 %}
    <td>{{ inf3 }}</td>
    {% endfor %}
  </tr>

  <tr>
    {% for inf4 in prints4 %}
    <td>{{ inf4 }}</td>
    {% endfor %}
  </tr>
  
  <tr>
    {% for inf5 in prints5 %}
    <td>{{ inf5 }}</td>
    {% endfor %}
  </tr>

  <tr>
    {% for inf6 in prints6 %}
    <td>{{ inf6 }}</td>
    {% endfor %}
  </tr> -->
  

<!-- </table> -->

</div>



<form action="" method="POST">
  {% csrf_token %}

  <!-- <div class="mb-3">
    <label for="number">Введите номер сертификата из списка, которым будет подписан загруженный документ</label>
    <input type="number" id="number">
    <button type="submit">Подписать выбранным сертификатом</button>
  </div> -->
  
    <input type="number" name="user_output" placeholder="Введите номер сертификата из списка, которым будет подписан загруженный документ" size="70">
    <button type="submit">Подписать выбранным сертификатом</button>
</form>


  {% endblock %}
